@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,400italic,700italic,700);

body {
  background-color: #3b5251;
  padding: 0;
  margin: 0;
  font: 14px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #ffffff;
  font-weight: 400;
}

a {
    color: #d8e3cf;
    text-decoration: underline;
}

a:hover {
    color: #ffffff;
}

header > .container {
    padding: 20px;
    overflow-y: hidden;
}

body > header header img {
    height: 1em;
    margin-right: 8px;
}

body > header header a {
    text-decoration: none;
    color: #ffffff;
}

body > header header a:hover {
    text-decoration: underline;
}

body > header li {
    float: left;
    width: 50%;
}

body > section {
    background-color: #ffffff;
    color: #202020;
}

body > section a {
    color: #557318;
}

body > section a:hover {
    color: #869a5b;
}

main {
    padding: 20px;
}

pre {
    overflow-x: scroll;
    padding: 10px;
}

code {
    padding: 0 4px;
    background-color: #eeeeee;
}

pre code {
    background-color: #f8f8f8;
}

.green {
    color: green;
}

.cyan {
    color: #14acc1;
}

.red {
    color: red;
}

@media (min-width: 961px) {
    body > header {
        float: left;
        position: fixed;
        width: 30%;
    }

    body > header > .container {
        max-width: 300px;
        float: right;
        margin-right: 30px;
    }

    body > header li {
        float: none;
        width: 100%;
    }

    body > section {
        float: right;
        display: block;
        width: 70%;
    }

    main {
        max-width: 700px;
    }
}
