<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML+RDFa 1.0//EN" "http://www.w3.org/MarkUp/DTD/xhtml-rdfa-1.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <title>Needy {{ page.title }}</title>

        <link rel="stylesheet" href="css/syntax.css">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <header>
            <div class="container">
                <h1>Needy</h1>
                <p>The library dependency helper</p>
                <p class="view"><a href="http://github.com/ccbrown/needy">View on GitHub</a></p>

                <nav>
                    <ul>
                        <li><a href="{{ '/' | prepend: site.github.url }}">Introduction</a></li>
                        <li><a href="{{ '/needs-file' | prepend: site.github.url }}">Needs File</a></li>
                        <li><a href="{{ '/commands' | prepend: site.github.url }}">Commands</a></li>
                        <li><a href="{{ '/jinja-templating' | prepend: site.github.url }}">Jinja Templating</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <section>
            <main>
                {{ content }}
            </main>
        </section>
    </body>
</html>
